Create Procedure Sp_ConsultaDatosEmpresa
as
SELECT [IdDatosEmpresa]
      ,[RazonSocial]
      ,[RFCEmpresa]
      ,[RepresentanteLegal]
      ,[RFCRepresentante]
      ,[Calle]
      ,[NumExt]
      ,[NumInt]
      ,[EntreCalle1]
      ,[EntreCalle2]
      ,[Colonia]
      ,[Referencia]
      ,[Poblacion]
      ,[CodigoPostal]
      ,[Pais]
      ,[Estado]
      ,[Municipio]
      ,[LugarExpedicion]
  FROM [ALGODON_2V].[dbo].[DatosEmpresa]