alter Procedure Sp_ConsultaPacasSinVender
@Valor nvarchar(max),
@IdPlanta integer = 0,
@Clase varchar(4)
as
declare @sql nvarchar(max)
if @valor <> ''
begin
set @sql =  'SELECT Pl.Descripcion as Planta
      ,[Kilos]
      ,[LotID]
      ,[BaleID]
      ,[BaleGroup]
      ,[Operator]
      ,[Date]
      ,[Temperature]
      ,[Humidity]
      ,[Amount]
      ,[UHML]
      ,[UI]
      ,[Strength]
      ,[Elongation]
      ,[SFI]
      ,[Maturity]
      ,[Grade]
      ,[Moist]
      ,[Mic]
      ,[Rd]
      ,[Plusb]
      ,[ColorGrade]
      ,[TrashCount]
      ,[TrashArea]
      ,[TrashID]
      ,[SCI]
      ,isnull([Nep],0) as Nep
      ,isnull([UV],0) as UV
  FROM [CalculoClasificacion] cc inner join Plantas Pl on cc.IdPlantaOrigen = Pl.IdPlanta 
  WHERE [IdVentaEnc] is null and cast (baleid as nvarchar)  in ('+@valor+')
  ORDER BY IdPlantaOrigen, BaleID'
end
else 
begin
set @sql =  'SELECT Pl.Descripcion as Planta
      ,[Kilos]
      ,[LotID]
      ,[BaleID]
      ,[BaleGroup]
      ,[Operator]
      ,[Date]
      ,[Temperature]
      ,[Humidity]
      ,[Amount]
      ,[UHML]
      ,[UI]
      ,[Strength]
      ,[Elongation]
      ,[SFI]
      ,[Maturity]
      ,[Grade]
      ,[Moist]
      ,[Mic]
      ,[Rd]
      ,[Plusb]
      ,[ColorGrade]
      ,[TrashCount]
      ,[TrashArea]
      ,[TrashID]
      ,[SCI]
      ,isnull([Nep],0) as Nep
      ,isnull([UV],0) as UV
  FROM [CalculoClasificacion] cc inner join Plantas Pl on cc.IdPlantaOrigen = Pl.IdPlanta
  WHERE [IdVentaEnc] is null 
  ORDER BY IdPlantaOrigen, BaleID'
end
exec sp_executesql @sql
