
Capa_Presentacion/obj/Debug/Capa_Presentacion.vbprojResolveAssemblyReference.cache
Capa_Presentacion/obj/Debug/Capa_Presentacion.vbproj.GenerateResource.Cache
Capa_Presentacion/obj/Debug/Capa_Presentacion.vbproj.FileListAbsolute.txt
Capa_Presentacion/obj/Debug/Capa_Presentacion.pdb
Capa_Presentacion/obj/Debug/Capa_Presentacion.exe
Capa_Presentacion/Comercializacion/Compras/CompraPacasContrato.Designer.vb
Capa_Presentacion/bin/Debug/Capa_Presentacion.pdb
Capa_Presentacion/bin/Debug/Capa_Presentacion.exe
Capa_Presentacion/bin/Debug/Capa_Operacion.pdb
Capa_Presentacion/bin/Debug/Capa_Operacion.exe
Capa_Presentacion/bin/Debug/Capa_Negocio.pdb
Capa_Presentacion/bin/Debug/Capa_Negocio.dll
Capa_Presentacion/bin/Debug/Capa_Entidad.pdb
Capa_Presentacion/bin/Debug/Capa_Entidad.dll
Capa_Presentacion/bin/Debug/Capa_Datos.pdb
Capa_Presentacion/bin/Debug/Capa_Datos.dll
Capa_Presentacion/bin/Debug/app.publish/Capa_Presentacion.exe
Capa_Operacion/obj/Debug/Capa_Operacion.pdb
Capa_Operacion/obj/Debug/Capa_Operacion.exe
Capa_Operacion/bin/Debug/Capa_Operacion.pdb
Capa_Operacion/bin/Debug/Capa_Operacion.exe
Capa_Negocio/obj/Debug/Capa_Negocio.vbprojResolveAssemblyReference.cache
Capa_Negocio/obj/Debug/Capa_Negocio.pdb
Capa_Negocio/obj/Debug/Capa_Negocio.dll
Capa_Negocio/bin/Debug/Capa_Operacion.pdb
Capa_Negocio/bin/Debug/Capa_Operacion.exe
Capa_Negocio/bin/Debug/Capa_Negocio.pdb
Capa_Negocio/bin/Debug/Capa_Negocio.dll
Capa_Negocio/bin/Debug/Capa_Entidad.pdb
Capa_Negocio/bin/Debug/Capa_Entidad.dll
Capa_Negocio/bin/Debug/Capa_Datos.pdb
Capa_Negocio/bin/Debug/Capa_Datos.dll
Capa_Entidad/obj/Debug/Capa_Entidad.vbprojResolveAssemblyReference.cache
Capa_Entidad/obj/Debug/Capa_Entidad.pdb
Capa_Entidad/obj/Debug/Capa_Entidad.dll
Capa_Entidad/bin/Debug/Capa_Operacion.pdb
Capa_Entidad/bin/Debug/Capa_Operacion.exe
Capa_Entidad/bin/Debug/Capa_Entidad.pdb
Capa_Entidad/bin/Debug/Capa_Entidad.dll
Capa_Datos/obj/Debug/Capa_Datos.vbprojResolveAssemblyReference.cache
Capa_Datos/obj/Debug/Capa_Datos.pdb
Capa_Datos/obj/Debug/Capa_Datos.dll
Capa_Datos/bin/Debug/Capa_Operacion.pdb
Capa_Datos/bin/Debug/Capa_Operacion.exe
Capa_Datos/bin/Debug/Capa_Entidad.pdb
Capa_Datos/bin/Debug/Capa_Entidad.dll
Capa_Datos/bin/Debug/Capa_Datos.pdb
Capa_Datos/bin/Debug/Capa_Datos.dll
.vs/Algodon_ANH/v14/.suo
.vs/Algodon_ANH/v14/.suo
Capa_Datos/bin/Debug/Capa_Datos.dll
Capa_Datos/bin/Debug/Capa_Datos.pdb
Capa_Datos/bin/Debug/Capa_Entidad.dll
Capa_Datos/bin/Debug/Capa_Entidad.pdb
Capa_Datos/bin/Debug/Capa_Operacion.exe
Capa_Datos/bin/Debug/Capa_Operacion.pdb
Capa_Datos/obj/Debug/Capa_Datos.dll
Capa_Datos/obj/Debug/Capa_Datos.pdb
Capa_Datos/obj/Debug/Capa_Datos.vbprojResolveAssemblyReference.cache
Capa_Entidad/bin/Debug/Capa_Entidad.dll
Capa_Entidad/bin/Debug/Capa_Entidad.pdb
Capa_Entidad/bin/Debug/Capa_Operacion.exe
Capa_Entidad/bin/Debug/Capa_Operacion.pdb
Capa_Entidad/obj/Debug/Capa_Entidad.dll
Capa_Entidad/obj/Debug/Capa_Entidad.pdb
Capa_Entidad/obj/Debug/Capa_Entidad.vbprojResolveAssemblyReference.cache
Capa_Negocio/bin/Debug/Capa_Datos.dll
Capa_Negocio/bin/Debug/Capa_Datos.pdb
Capa_Negocio/bin/Debug/Capa_Entidad.dll
Capa_Negocio/bin/Debug/Capa_Entidad.pdb
Capa_Negocio/bin/Debug/Capa_Negocio.dll
Capa_Negocio/bin/Debug/Capa_Negocio.pdb
Capa_Negocio/bin/Debug/Capa_Operacion.exe
Capa_Negocio/bin/Debug/Capa_Operacion.pdb
Capa_Negocio/obj/Debug/Capa_Negocio.dll
Capa_Negocio/obj/Debug/Capa_Negocio.pdb
Capa_Negocio/obj/Debug/Capa_Negocio.vbprojResolveAssemblyReference.cache
Capa_Operacion/bin/Debug/Capa_Operacion.exe
Capa_Operacion/bin/Debug/Capa_Operacion.pdb
Capa_Operacion/obj/Debug/Capa_Operacion.exe
Capa_Operacion/obj/Debug/Capa_Operacion.pdb
Capa_Presentacion/bin/Debug/app.publish/Capa_Presentacion.exe
Capa_Presentacion/bin/Debug/Capa_Datos.dll
Capa_Presentacion/bin/Debug/Capa_Datos.pdb
Capa_Presentacion/bin/Debug/Capa_Entidad.dll
Capa_Presentacion/bin/Debug/Capa_Entidad.pdb
Capa_Presentacion/bin/Debug/Capa_Negocio.dll
Capa_Presentacion/bin/Debug/Capa_Negocio.pdb
Capa_Presentacion/bin/Debug/Capa_Operacion.exe
Capa_Presentacion/bin/Debug/Capa_Operacion.pdb
Capa_Presentacion/bin/Debug/Capa_Presentacion.exe
Capa_Presentacion/bin/Debug/Capa_Presentacion.pdb
Capa_Presentacion/Comercializacion/Compras/CompraPacasContrato.Designer.vb
Capa_Presentacion/obj/Debug/Capa_Presentacion.exe
Capa_Presentacion/obj/Debug/Capa_Presentacion.pdb
Capa_Presentacion/obj/Debug/Capa_Presentacion.vbproj.FileListAbsolute.txt
Capa_Presentacion/obj/Debug/Capa_Presentacion.vbproj.GenerateResource.Cache
Capa_Presentacion/obj/Debug/Capa_Presentacion.vbprojResolveAssemblyReference.cache
Capa_Presentacion/obj/Debug/Capa_Presentacion.exe
Capa_Presentacion/Catalogos/Clientes.vb
Capa_Presentacion/bin/Debug/stdole.dll
Capa_Presentacion/bin/Debug/ShockwaveFlashObjects.dll
Capa_Presentacion/bin/Debug/FlashControlV71.dll
Capa_Presentacion/bin/Debug/CrystalDecisions.Windows.Forms.dll
Capa_Presentacion/bin/Debug/CrystalDecisions.Shared.dll
Capa_Presentacion/bin/Debug/CrystalDecisions.ReportSource.dll
Capa_Presentacion/bin/Debug/CrystalDecisions.ReportAppServer.XmlSerialize.dll
Capa_Presentacion/bin/Debug/CrystalDecisions.ReportAppServer.ReportDefModel.dll
Capa_Presentacion/bin/Debug/CrystalDecisions.ReportAppServer.Prompting.dll
Capa_Presentacion/bin/Debug/CrystalDecisions.ReportAppServer.ObjectFactory.dll
Capa_Presentacion/bin/Debug/CrystalDecisions.ReportAppServer.DataSetConversion.dll
Capa_Presentacion/bin/Debug/CrystalDecisions.ReportAppServer.DataDefModel.dll
Capa_Presentacion/bin/Debug/CrystalDecisions.ReportAppServer.CubeDefModel.dll
Capa_Presentacion/bin/Debug/CrystalDecisions.ReportAppServer.Controllers.dll
Capa_Presentacion/bin/Debug/CrystalDecisions.ReportAppServer.CommonObjectModel.dll
Capa_Presentacion/bin/Debug/CrystalDecisions.ReportAppServer.CommonControls.dll
Capa_Presentacion/bin/Debug/CrystalDecisions.ReportAppServer.CommLayer.dll
Capa_Presentacion/bin/Debug/CrystalDecisions.ReportAppServer.ClientDoc.dll
Capa_Presentacion/bin/Debug/CrystalDecisions.CrystalReports.Engine.dll
Capa_Presentacion/bin/Debug/Capa_Presentacion.xml
Capa_Presentacion/bin/Debug/Capa_Presentacion.pdb
Capa_Presentacion/bin/Debug/Capa_Presentacion.exe.config
Capa_Presentacion/bin/Debug/Capa_Presentacion.exe
Capa_Presentacion/bin/Debug/Capa_Operacion.xml
Capa_Presentacion/bin/Debug/Capa_Operacion.pdb
Capa_Presentacion/bin/Debug/Capa_Operacion.exe
Capa_Presentacion/bin/Debug/Capa_Negocio.xml
Capa_Presentacion/bin/Debug/Capa_Negocio.pdb
Capa_Presentacion/bin/Debug/Capa_Negocio.dll
Capa_Presentacion/bin/Debug/Capa_Entidad.xml
Capa_Presentacion/bin/Debug/Capa_Entidad.pdb
Capa_Presentacion/bin/Debug/Capa_Entidad.dll
Capa_Presentacion/bin/Debug/Capa_Datos.xml
Capa_Presentacion/bin/Debug/Capa_Datos.pdb
Capa_Presentacion/bin/Debug/Capa_Datos.dll
Capa_Presentacion/bin/Debug/app.publish/Capa_Presentacion.exe
Capa_Operacion/obj/Debug/Capa_Operacion.vbprojResolveAssemblyReference.cache
Capa_Operacion/obj/Debug/Capa_Operacion.vbproj.FileListAbsolute.txt
Capa_Operacion/obj/Debug/Capa_Operacion.pdb
Capa_Operacion/obj/Debug/Capa_Operacion.exe
Capa_Operacion/bin/Debug/Capa_Operacion.pdb
Capa_Operacion/bin/Debug/Capa_Operacion.exe
Capa_Negocio/obj/Debug/Capa_Negocio.vbprojResolveAssemblyReference.cache
Capa_Negocio/obj/Debug/Capa_Negocio.pdb
Capa_Negocio/obj/Debug/Capa_Negocio.dll
Capa_Negocio/bin/Debug/Capa_Operacion.pdb
Capa_Negocio/bin/Debug/Capa_Operacion.exe
Capa_Negocio/bin/Debug/Capa_Negocio.pdb
Capa_Negocio/bin/Debug/Capa_Negocio.dll
Capa_Negocio/bin/Debug/Capa_Entidad.pdb
Capa_Negocio/bin/Debug/Capa_Entidad.dll
Capa_Negocio/bin/Debug/Capa_Datos.pdb
Capa_Negocio/bin/Debug/Capa_Datos.dll
Capa_Entidad/obj/Debug/Capa_Entidad.vbprojResolveAssemblyReference.cache
Capa_Entidad/obj/Debug/Capa_Entidad.pdb
Capa_Entidad/obj/Debug/Capa_Entidad.dll
Capa_Entidad/bin/Debug/Capa_Operacion.pdb
Capa_Entidad/bin/Debug/Capa_Operacion.exe
Capa_Entidad/bin/Debug/Capa_Entidad.pdb
Capa_Entidad/bin/Debug/Capa_Entidad.dll
Capa_Datos/obj/Debug/Capa_Datos.vbprojResolveAssemblyReference.cache
Capa_Datos/obj/Debug/Capa_Datos.pdb
Capa_Datos/obj/Debug/Capa_Datos.dll
Capa_Datos/bin/Debug/Capa_Operacion.pdb
Capa_Datos/bin/Debug/Capa_Operacion.exe
Capa_Datos/bin/Debug/Capa_Entidad.pdb
Capa_Datos/bin/Debug/Capa_Entidad.dll
Capa_Datos/bin/Debug/Capa_Datos.pdb
Capa_Datos/bin/Debug/Capa_Datos.dll
.vs/Algodon_ANH/v14/.suo
Capa_Presentacion/bin/Debug/Capa_Datos.dll
Capa_Presentacion/bin/Debug/Capa_Datos.pdb
Capa_Presentacion/bin/Debug/Capa_Entidad.dll
Capa_Presentacion/bin/Debug/Capa_Entidad.pdb
Capa_Presentacion/bin/Debug/Capa_Negocio.dll
Capa_Presentacion/bin/Debug/Capa_Negocio.pdb
Capa_Presentacion/bin/Debug/Capa_Operacion.exe
Capa_Presentacion/bin/Debug/Capa_Operacion.pdb
Capa_Presentacion/bin/Debug/Capa_Presentacion.exe
Capa_Presentacion/bin/Debug/Capa_Presentacion.pdb
Capa_Presentacion/obj/Debug/Capa_Presentacion.exe
Capa_Presentacion/obj/Debug/Capa_Presentacion.pdb
Capa_Presentacion/obj/Debug/Capa_Presentacion.vbproj.FileListAbsolute.txt
Capa_Presentacion/obj/Debug/Capa_Presentacion.vbproj.GenerateResource.Cache
Capa_Presentacion/obj/Debug/Capa_Presentacion.vbproj.ResolveComReference.cache
Capa_Presentacion/obj/Debug/Capa_Presentacion.vbprojResolveAssemblyReference.cache
Capa_Presentacion/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
