Capa_Presentacion/obj
Capa_Presentacion/bin
Capa_Operacion/obj
Capa_Operacion/bin
Capa_Negocio/obj
Capa_Negocio/bin
Capa_Entidad/obj
Capa_Entidad/bin
Capa_Datos/obj
Capa_Datos/bin
*.suo
*.user
*.suo
_ReSharper.*
*.sln.cache
*.vsidx
Capa_Presentacion/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Capa_Presentacion/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Capa_Presentacion/bin/Debug/Capa_Negocio.pdb
Capa_Presentacion/bin/Debug/Capa_Negocio.dll
Capa_Presentacion/bin/Debug/Capa_Datos.pdb
Capa_Presentacion/bin/Debug/Capa_Datos.dll
Capa_Negocio/obj/Debug/Capa_Negocio.pdb
Capa_Negocio/obj/Debug/Capa_Negocio.dll
Capa_Negocio/bin/Debug/Capa_Negocio.pdb
Capa_Negocio/bin/Debug/Capa_Negocio.dll
Capa_Negocio/bin/Debug/Capa_Datos.pdb
Capa_Negocio/bin/Debug/Capa_Datos.dll
Capa_Datos/bin/Debug/Capa_Datos.dll
Capa_Datos/bin/Debug/Capa_Datos.pdb
Capa_Datos/obj/Debug/Capa_Datos.dll
Capa_Datos/obj/Debug/Capa_Datos.pdb
*.json
Capa_Presentacion/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.db
/.vs/Algodon_ANH/CopilotIndices
/.vs/Algodon_ANH/v17
.vs/Algodon_ANH/CopilotIndices/17.14.1577.30250/CodeChunks.db
