<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Capa_Presentacion.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="cnnString" connectionString="Data Source=MSISTEMAS;Persist Security Info=True;User ID=sa;Password=Usuario01"
      providerName="Microsoft.SqlServerCe.4.0" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="RutaLc" value="C:\ProgramData\Calcula Cotton\licencia_cifrada.dat"/>
    <add key="instanciabdd" value=""/>
    <add key="basededatos" value=""/>
    <add key="basededatosPerfiles" value=""/>
    <add key="usuariobdd" value=""/>
    <add key="passwordbdd" value=""/>    
    <add key="servidor" value="true"/>
    <add key="estacion" value="false"/>
    <add key="ipservidor" value=""/>
    <add key="ckrecuerda" value="false"/>
    <add key="usuario" value=""/>
    <add key="password" value=""/>
    <add key="puertocom" value=""/>
    <add key="baudios" value=""/>
    <add key="databits" value=""/>
    <add key="parity" value=""/>
    <add key="stopbits" value=""/>
    <add key="kilosminimo" value="180.00"/>
    <add key="kilosmaximo" value="300.00"/>
    <add key="librasminimo" value="397.00"/>
    <add key="librasmaximo" value="660.00"/>
    <add key="kilospred" value="false"/>
    <add key="libraspred" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Capa_Presentacion.Service1">
        <endpoint address="" binding="basicHttpBinding" contract="Capa_Presentacion.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Capa_Presentacion/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <userSettings>
    <Capa_Presentacion.My.MySettings>
      <setting name="user" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="CkRecordar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RutaLC" serializeAs="String">
        <value>C:\ProgramData\Calcula Cotton\licencia_cifrada.dat</value>
      </setting>
      <setting name="instanciabdd" serializeAs="String">
        <value />
      </setting>
      <setting name="basededatos" serializeAs="String">
        <value />
      </setting>
      <setting name="usuariobdd" serializeAs="String">
        <value />
      </setting>
      <setting name="passwordbdd" serializeAs="String">
        <value />
      </setting>
      <setting name="servidor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ckrecuerda" serializeAs="String">
        <value />
      </setting>
      <setting name="usuario" serializeAs="String">
        <value />
      </setting>
      <setting name="puertocom" serializeAs="String">
        <value />
      </setting>
      <setting name="baudios" serializeAs="String">
        <value />
      </setting>
      <setting name="databits" serializeAs="String">
        <value />
      </setting>
      <setting name="parity" serializeAs="String">
        <value />
      </setting>
      <setting name="stopbits" serializeAs="String">
        <value />
      </setting>
      <setting name="kilosminimo" serializeAs="String">
        <value />
      </setting>
      <setting name="kilosmaximo" serializeAs="String">
        <value />
      </setting>
      <setting name="librasminimo" serializeAs="String">
        <value />
      </setting>
      <setting name="librasmaximo" serializeAs="String">
        <value />
      </setting>
      <setting name="kilospred" serializeAs="String">
        <value />
      </setting>
      <setting name="libraspred" serializeAs="String">
        <value />
      </setting>
      <setting name="basededatosperfiles" serializeAs="String">
        <value />
      </setting>
      <setting name="ipservidor" serializeAs="String">
        <value />
      </setting>
      <setting name="estacion" serializeAs="String">
        <value>False</value>
      </setting>
    </Capa_Presentacion.My.MySettings>
  </userSettings>
</configuration>